* {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
	
}

window#waybar {
	background: #ffffff;
	color: #1b6acb;
}

#workspaces {
	background: #1b6acb;
}

#workspaces button {
	padding: 0 2px;
	color: #0000ff;
}
#workspaces button.focused {
	color: #ffffff;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
