* {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
	
}

window#waybar {
	background: #251e3e;
	color: #f6dec9;
}

#workspaces {
	background: #851e3e;
}

#workspaces button {
	padding: 0 2px;
	color: #f6dec9;
}
#workspaces button.focused {
	color: #fd776c;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
